@import url("https://cdn.22is5.com/css/reset.css");
@import url("https://cdn.22is5.com/css/colors.css");
@import url("https://cdn.22is5.com/fonts/vcr.css");
@import url("https://cdn.22is5.com/fonts/source-serif.css");

:root {
    --bgc: var(--topblurryblack);
    --mainbgc: var(--topsaiwhite);
    --textColor: var(--topblurrywhite);
    --accent1: var(--topblurryred);
}

body {
    background-color: var(--bgc);
    color: var(--topblurrywhite);
    padding: 12px;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: "Source Serif";
}

.content {
    width: 640px;
    height: fit-content;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content p {
    line-height: 1.3;
    text-align: justify;
    font-size: 18px;
    letter-spacing: 1px;
}

h2 {
    font-family: "VCR";
    padding: 12px 0;
    letter-spacing: 8px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: var(--textColor);
    width: 100%;
    background-color: var(--bgc);
}

.bannerImg {
    width: 100%;
}

.spacer {
    height: 64px;
}