@import url(https://cdn.22is5.com/css/reset.css);
@import url(https://cdn.22is5.com/css/colors.css);
@import url(https://cdn.22is5.com/fonts/source-serif.css);
@import url(https://cdn.22is5.com/fonts/bebas-neue.css);
:root {
  --sideWidth: 32px;
  --mainWidth: 720px;
}
body {
  background-color: #121212;
  color: #000;
  font-family: "Source Serif";
  font-size: 18px;
}
.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}
.content {
  width: var(--mainWidth);
  max-width: 100%;
  background-color: #efefef;
  padding: 12px;
  border-left: solid var(--sideWidth) var(--toprabblue);
  border-right: solid var(--sideWidth) var(--toprabred);
  text-align: justify;
}
.content a {
  text-decoration: underline;
  color: #3a7fa7;
}
.left,
.right {
  width: 32px;
}
.left {
  background-color: var(--toprabblue);
}

.right {
  background-color: var(--toprabred);
}
.bar {
  background-color: #000;
  color: #fff;
  width: var(--mainWidth);
  height: var(--sideWidth);
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  font-family: "Bebas Neue";
  text-align: center;
  font-size: 24px;
  letter-spacing: 4px;
  user-select: none;
}
.sub {
  opacity: 0.64;
  font-size: 18px;
}
.bg {
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  user-select: none;
}
.bg img {
  width: 2560px;
  max-width: 50%;
  image-rendering: pixelated;
  filter: contrast(6%) brightness(12%);
}
